
.header.navbar {
  border-bottom: 4px solid #4aaaa5;
  width: 100% !important;

}
.footer.navbar {
    padding-top: .5px;
    padding-bottom: 8px;
    background-color: #666666;
    color: #ffffff;
    border-top: 4px solid #4aaaa5;
    margin-top: 10px;
  }
  
.navbar-brand span {
    font-weight: 100;
    font-size: x-small;
}

.header.navbar span {
    font-weight: bold;
    margin-left: 5%;
    
}

.navbar-expand-lg .navbar-collapse {
    margin-right: 5%;

}
.card-deck .card{ 
    margin-bottom: 5px;
  }
